In [1]:
#predicting apple stock price

import yfinance as yf

/Users/saurabhkankekar/projects/project-1/.venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
ticker="AAPL"

stock_data=yf.download(ticker, start= "2020-01-01", end ="2025-03-01")

print(stock_data)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2020-01-02   72.716095   72.776621   71.466835   71.721042  135480400
2020-01-03   72.009117   72.771745   71.783962   71.941328  146322800
2020-01-06   72.582893   72.621631   70.876060   71.127851  118387200
2020-01-07   72.241547   72.849224   72.021231   72.592594  108872000
2020-01-08   73.403625   73.706256   71.943736   71.943736  132079200
...                ...         ...         ...         ...        ...
2025-02-24  247.100006  248.860001  244.419998  244.929993   51326400
2025-02-25  247.039993  250.000000  244.910004  248.000000   48013300
2025-02-26  240.360001  244.979996  239.130005  244.330002   44433600
2025-02-27  237.300003  242.460007  237.059998  239.410004   41153600
2025-02-28  241.839996  242.089996  230.199997  236.949997   56796200

[1297 rows x 5 columns]

In [3]:
#checking if we are having any null values
print(stock_data.isnull().sum())

Price   Ticker
Close   AAPL      0
High    AAPL      0
Low     AAPL      0
Open    AAPL      0
Volume  AAPL      0
dtype: int64

In [4]:
df=stock_data
df

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2020-01-02   72.716095   72.776621   71.466835   71.721042  135480400
2020-01-03   72.009117   72.771745   71.783962   71.941328  146322800
2020-01-06   72.582893   72.621631   70.876060   71.127851  118387200
2020-01-07   72.241547   72.849224   72.021231   72.592594  108872000
2020-01-08   73.403625   73.706256   71.943736   71.943736  132079200
...                ...         ...         ...         ...        ...
2025-02-24  247.100006  248.860001  244.419998  244.929993   51326400
2025-02-25  247.039993  250.000000  244.910004  248.000000   48013300
2025-02-26  240.360001  244.979996  239.130005  244.330002   44433600
2025-02-27  237.300003  242.460007  237.059998  239.410004   41153600
2025-02-28  241.839996  242.089996  230.199997  236.949997   56796200

[1297 rows x 5 columns]

In [5]:

df.head()

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2020-01-02  72.716095  72.776621  71.466835  71.721042  135480400
2020-01-03  72.009117  72.771745  71.783962  71.941328  146322800
2020-01-06  72.582893  72.621631  70.876060  71.127851  118387200
2020-01-07  72.241547  72.849224  72.021231  72.592594  108872000
2020-01-08  73.403625  73.706256  71.943736  71.943736  132079200

In [6]:
#Simple moving averages for 10 day closing and 50 day closing
stock_data["SMA_10"]=stock_data["Close"].rolling(window=10).mean()
stock_data["SMA_50"]=stock_data["Close"].rolling(window=50).mean()

In [7]:
#EMA : Exponential Moving Average
stock_data["EMA_10"]=stock_data["Close"].ewm(span=10,adjust="False").mean()

In [8]:
import matplotlib.pyplot as plt

plt.figure(figsize=(12,6))
plt.plot(stock_data["Close"],label="closing price", color="blue")

#plot 10 day SMA and EMA

plt.plot(stock_data["SMA_10"], label="SMA 10", color="red" , linestyle="dashed")

plt.plot(stock_data["EMA_10"], label="EMA 10" ,color="red")

plt.xlabel("Date")
plt.ylabel("price")
plt.title("SMA vs EMA on Stock Price")
plt.legend()
plt.grid(True)
plt.show

ModuleNotFoundError: No module named 'matplotlib'